<div class="container p-5">
  <div class="content">
    <h1 class="is-size-1">My Dashboard</h1>
    <div class="field is-grouped">
      <p class="control">
        <a href="/post">
          <button class="button is-primary">
            Make a New Post
          </button>
        </a>
      </p>
      <p class="control">
      <a href="#my-comments">
        <button class="button is-warning">
          Edit Comments
        </button>
      </p>
      </a>
      <a href="#my-posts">
      <p class="control">
        <button class="button is-warning">
          Edit Posts
        </button>
      </p>
      </a>
    </div>
    <h2 id="my-posts">My Posts</h3>
    {{#each allUsersPosts as |post|}}
      {{> dashboard-single-post}}
    {{/each}}
    <h2 id="my-comments">My Comments</h3>
     {{#each allUsersComments as |comment|}}
      {{> dashboard-single-comment}}
    {{/each}}
  </div>
</div>
<script src="js/dashboard.js"></script>
