<article>
  <div class="container p-5">
    <div class="content">
      <h2>Edit Post ID: {{id}}</h2>
      <form data-post-id="{{id}}" id="edit-post">
        <div class="field">
          <label class="label">Post Title</label>
          <div class="control">
            <input class="input" name="title" type="text" placeholder="Title" value="{{title}}" />
          </div>
        </div>
        <label class="label">Post Content</label>

        <textarea
          class="textarea"
          name="content"
          placeholder="Post Content as plain-text or markdown"
          rows="40"
        >{{content}}</textarea>
        <div class="buttons m-3">
          <button type="submit" class="button is-link">Save</button>
          <a href="/dashboard">
            <button class="button is-danger">Cancel</button>
          </a>
        </div>
      </form>
    </div>
  </div>
</article>
<script src="/js/dashboard.js"></script>

{{! <script src="js/post.js"></script> }}