<section class="hero is-warning mt-6">
  <div class="hero-body">
    <p class="title">
      User Must Be Logged In to Comment
    </p>
    <p class="subtitle">
      Login or signup above
    </p>
  </div>
</section>