<article>
  <div class="container">
    <div class="content">
      <h2>Blog Post Title</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor neque suscipit sit, totam similique odio
        facilis delectus maiores omnis accusamus dolorum eum perferendis ex, quibusdam voluptate deleniti nostrum id
        natus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium in, libero labore odit pariatur hic
        quibusdam quo nostrum, vero blanditiis ratione. Pariatur et repellendus maxime sint sunt explicabo excepturi
        saepe! Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam consequuntur aut assumenda quae
        nesciunt fugiat commodi nobis consequatur ipsam rem. Aut dolor aliquam dolores quibusdam enim nulla consectetur
        rerum architecto.</p>
      <div class="buttons">
        <button class="button is-primary">Comment</button>
        <button class="button is-link">Edit</button>
        <button class="button is-danger">Delete</button>
      </div>
      <h6>Dave Holst</h5>
      <blockquote>Ut venenatis, nisl scelerisque sollicitudin fermentum, quam libero hendrerit ipsum, ut blandit est
        tellus sit amet turpis.</blockquote>

    </div>
  </div>
</article>